# Ignore all src directories except private and files with a dot
/odoo/auto/odoo.conf
/odoo/auto/addons/**
!/odoo/auto/addons/.*
/odoo/custom/src/*/
!/odoo/custom/src/private/

# Compiled formats, cache, temporary files, git garbage
**.~
**.mo
**.py[co]
**.egg-info
**.orig

# User-specific or editor-specific development files and settings
/private
/.venv
/doodba.*.code-workspace
/src
/ssh

# Project-specific docker configurations
/.docker/

# Ignore .env to avoid exposing sensitive credentials
**.env